/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

:root {
  --pri-color: #184b44;
  --sec-color: #7fcc26;
  --ter-color: #549d34;
  --lit-color: #cdd7d8;
}

/* UTILS START */
body {
  background-color: var(--lit-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}

.eco-btn {
  color: var(--pri-color);
  background-color: transparent;
  font-weight: bold;
  border-radius: 35px;
  text-decoration: none;
  border: 1px solid var(--pri-color);
  transition: color 0.3s ease, background-color 0.5s ease;
}
.eco-btn:hover {
  color: var(--sec-color);
  background-color: var(--pri-color);
}

.eco-sec-btn {
  color: var(--pri-color);
  background-color: var(--sec-color);
  font-weight: bold;
  border-radius: 35px;
  text-decoration: none;
  border: 1px solid var(--pri-color);
  transition: color 0.3s ease, background-color 0.5s ease;
}
.eco-sec-btn:hover {
}
/* UTILS END */

/* SUPPORT FORM */
.modal {
  background-color: rgba(7, 7, 7, 0.548);
  background-blend-mode: saturation;
}

.modal-content {
  background-color: var(--lit-color);
  border-radius: 0;
}
/* SUPPORT FORM */

/* NAVBAR START */
.site-title {
  font-weight: bold;
  color: var(--ter-color);
}

.nav-link {
  color: var(--pri-color) !important;
  transition: border-bottom 0.5s ease;
}

.nav-link:hover {
  border-bottom: 1px solid var(--pri-color);
  /* font-weight: bolder; */
}

.nav-link.active {
  border-bottom: 1px solid var(--pri-color);
}

/* NAVBAR END */
